<!DOCTYPE HTML PUBLIC "-//W3C//DTD/ HTML 3.2 Final//EN">
<HTML>

  <HEAD>
    <TITLE>Blank</TITLE>
  </HEAD>

  <BODY>
    Demonstrates how to use <b>ExplicitLayout</b> to:
    <UL>
    <LI>Implement less 'rectangular' layouts</LI>
    <LI>Position components relative to an ellipse</LI>
    <LI>Position components relative to a line</LI>
    <LI>Position and size the line or ellipse
    relative to other components and the container</LI>
    <LI>Paint container based to the layout.</LI>
    </UL>
    The dashed black lines are painted by the container to show
    the line and ellipse on which the layout is based. A point
    on the line is specified by a parameter between 0.0 and 1.0.
    A point on an ellipse is specified by an angle between 0 and 360
    degrees.
  </BODY>
</HTML>
