<!DOCTYPE HTML PUBLIC "-//W3C//DTD/ HTML 3.2 Final//EN">
<HTML>

  <HEAD>
    <TITLE>Blank</TITLE>
  </HEAD>

  <BODY>
    <TABLE WIDTH="100%" BORDER=0 CELLPADDING=0 CELLSPACING=5>
    <TR>
        <TD WIDTH=180 ALIGN=LEFT VALIGN=MIDDLE>
        <IMG SRC="zooki_logo_180.gif" ALT="Zooki Technologies Logo" WIDTH="180" HEIGHT="73">
        </TD>
        <TD ALIGN=CENTER VALIGN=MIDDLE><H1>ExplicitLayout v3.0 Demonstration</H1></TD>
    </TR>
    </TABLE>

    <P>Create sophisticated, adaptable and professional user interfaces.
    ExplicitLayout is the ultimate layout manager for Java with a unique
    approach to defining resolution independent layouts for AWT, Swing
    or JavaBean components. ExplicitLayout gives the developer
    complete control over each component's resizing behaviour as the container
    size or application state changes. ExplicitLayout extends the JDK with
    a powerful, flexible, intuitive and extensible layout manager that facilitates
    the implementation of almost any component layout.</P>

    <P>This application demonstrates several example component layouts implemented a
    using ExplicitLayout 3.0 Standard and Professional.</P>

    <P>To view an example, please select one from the Standard or Professional menu.<BR>
    You can resize each example frame, using your mouse, to see how it affects the layout.<BR>
    You can view the source code to see how each example is implemented.<BR>
    To come back here select the Help | About menu option.</P>
    <P>For more information, technical support or to purchase a software license from one of our worldwide resellers,<BR>please go to <A HREF="http://www.zookitec.com">http://www.zookitec.com</A>
    <P>Copyright &copy; 2002 Zooki Technologies. All rights reserved.</P>
  </BODY>
</HTML>
