<!DOCTYPE HTML PUBLIC "-//W3C//DTD/ HTML 3.2 Final//EN">
<HTML>

  <HEAD>
    <TITLE>Blank</TITLE>
  </HEAD>

  <BODY>
    Demonstrates how to use <b>ExplicitLayout</b> to:
    <UL>
    <LI>Set a component's height equal to a fraction of its container's height</LI>
    <LI>Make the height fraction proportional to the component's preferred size</LI>
    <LI>Layout components based on attributes of a group of components</LI>
    <LI>Position a component below another component and left align</LI>

    </UL>
  </BODY>
</HTML>
